.plotConstellation {
    position: relative;
    width: 800px;
    border: 1px lightgrey solid;
    margin: auto;
    margin-bottom: 200px;
    overflow: hidden;
    font-family: sans-serif;
}

.plotContainer {
    display: inline-block;
    margin: 5px;
    width: 240px;
    height: 200px;
    position: absolute;
}

.plotContainer .line {
    stroke-width: 2px;
}

.plotContainer .xAxis, .yAxis {
    stroke-width: 1.5px;
}
.plotContainer .label {
    font-size: 12pt;
}


.slider {
    width: 100%;
}

.sliderText {
    margin-right: 0.5em;
}


svg .arrowLabel {
    font-size: 20px;
    font-weight: bold;
}

svg .plotHeader {
    font-size: 20px;
    font-weight: bold;
}
svg .plotHeader.small {
    font-size: 15px;
    font-weight: bold;
}

/* 2D plot */

.plotConstellation#plot_2d {
    height: 600px;
}

#plot_2d .data {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 75px;
}
#plot_2d .noise {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 475px;
}
#plot_2d .noisy {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 475px;
    /*display: none;*/
}
#plot_2d .denoise {
    width: 300px;
    height: 300px;
    top: 300px;
    left: 250px;
}
#plot_2d .denoised {
    width: 300px;
    height: 300px;
    top: 300px;
    left: 250px;
    /*display: none;*/
}
#plot_2d .sliderContainer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 250px;
    top: 0px;
    left: 75px;
    /*border: 1px black solid;*/
}
#plot_2d_selectStdDevContainer > span {
    /*width: 60px;*/
    /*flex: none;*/
}
#plot_2d_selectStdDevContainer > .slider {
    margin-left: 1em;
    min-width: 50px;
}



/* 1D Gaussian plot */

.plotConstellation#plot_1d_gaussian {
    height: 600px;
}

#plot_1d_gaussian .plotContainer {
}

#plot_1d_gaussian .plotContainer.data {
    width: 240px;
    height: 200px;
    top: 60px;
    left: 55px;
}
#plot_1d_gaussian .plotContainer.noisy {
    width: 240px;
    height: 200px;
    top: 60px;
    left: 485px;
}
#plot_1d_gaussian .plotContainer.denoise {
    width: 240px;
    height: 200px;
    top: 340px;
    left: 410px;
}
#plot_1d_gaussian .plotContainer.denoised {
    width: 240px;
    height: 200px;
    top: 310px;
    left: 55px;
}

#plot_1d_gaussian .sliderContainer.stdDev {
    display: flex;
    align-items: center;
    position: absolute;
    width: 200px;
    top: 40px;
    left: 100px;
}

#plot_1d_gaussian .sliderContainer.noiseStdDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 170px;
    left: 335px;
    width: 120px;
}

#plot_1d_gaussian .sliderContainer.noiseStdDev .sliderText {
    margin-right: 0px;
}




/* 1D other plots */
.plotConstellation.plot1dOther {
        height: 250px;
}

.plot1dOther .plotContainer {
    position: absolute;
    display: inline-block;
    width: 240px;
    height: 200px;
}

.plot1dOther .plotContainer.data {
    top: 0;
    left: 0;
}

.plot1dOther .plotContainer.noisy {
    top: 0;
    left: 250px;
}

.plot1dOther .plotContainer.denoise {
    top: 0;
    left: 500px;
}

.plot1dOther .sliderContainer {
    width: 240px;
    position: absolute;
    top: 210px;
    display: flex;
    align-items: center;
}



/* Multigauss */

.plotConstellation#plot_1d_multigauss {
    height: 270px;
}

#plot_1d_multigauss .plotContainer.data {
    top: 0;
    left: 0;
}

#plot_1d_multigauss .plotContainer.noisy {
    top: 0;
    left: 250px;
}

#plot_1d_multigauss .plotContainer.denoise {
    top: 0;
    left: 500px;
}

#plot_1d_multigauss .sliderContainer {
    position: absolute;
    display: flex;
    align-items: center;
}

#plot_1d_multigauss .sliderContainer.w1 {
    width: 220px;
    top: 210px;
    left: 0px;
}
#plot_1d_multigauss .sliderContainer.sigma_2 {
    width: 110px;
    top: 240px;
    left: 0px;
}
#plot_1d_multigauss .sliderContainer.sigma_1 {
    width: 110px;
    top: 240px;
    left: 130px;
}



/* Iris plot */

.plotConstellation#plotIris {
    height: 600px;
}

.plotContainer#plotIris_data {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 75px;
}
.plotContainer#plotIris_noise {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 475px;
}
.plotContainer#plotIris_noisy {
    width: 250px;
    height: 250px;
    top: 25px;
    left: 475px;
    /*display: none;*/
}
.plotContainer#plotIris_denoise {
    width: 300px;
    height: 300px;
    top: 300px;
    left: 250px;
}
.plotContainer#plotIris_denoised {
    width: 300px;
    height: 300px;
    top: 300px;
    left: 250px;
    /*display: none;*/
}
#plotIris_selectStdDevContainer {
    display: flex;
    align-items: center;
    position: absolute;
    width: 250px;
    top: 0px;
    left: 75px;
    /*border: 1px black solid;*/
}
#plotIris_selectStdDevContainer > span {
    /*width: 60px;*/
    /*flex: none;*/
}
#plotIris_selectStdDevContainer > .slider {
    margin-left: 1em;
    min-width: 50px;
}



/* Slider design (generated with http://danielstern.ca/range.css) */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: #eeeeff;
  border-radius: 4px;
  border: 1px solid #000000;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 2px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #0099ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #eeffff;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  background: #eeeeff;
  border-radius: 4px;
  border: 1px solid #000000;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 2px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #0099ff;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #0000ee;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range].slider::-ms-fill-upper {
  background: #eeeeff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(13, 13, 13, 0.5);
  border: 2px solid #000000;
  height: 20px;
  width: 16px;
  border-radius: 8px;
  background: #0099ff;
  cursor: pointer;
  height: 12px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #eeeeff;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #eeeeff;
}
